@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

root {
    --fontpad: 'Fredoka One';
}

* {
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    height: auto;
}

main p {
    font-family: var(--fontpad);
    font-size: 3.5vw;
    line-height: 2em;
    font-weight: bold;
         
    }

section {
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-size: 3.5vw;
    padding-left: 30px;

}

.fb {
    background-color: white;
}

.fi {
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.466);
    background-color: black;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fi > p {
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    width: 42vw;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
}

.fi#img1 {
    background-image: url(../imagens/background001.jpg);
}

.fi#img2 {
    background-image: url(../imagens/background002.jpg);
}